  name: Node Continuous Integration

  on:
    push:
      branches: [ main ]
    pull_request:
        branches: [ main ]

  jobs:
    test_build:
      runs-on: windows-latest
      steps:
        - uses: actions/checkout@v2
        - uses: actions/setup-node@v1
          with:
            node-version: 12
        - run: npm ci
        - run: npm run test:e2e --headless
        - run: npm build
